/algorithm/.idea/
/algorithm/BOJ/.idea/
/algorithm/BOJ/SW test/.idea/
/algorithm/Programmers/.idea/
/algorithm/Programmers/SQL/.idea/
/SQL/.idea/
/SQL/Programmers/.idea/
/SQL/solvesql/.idea/
/SQL/HackerRank/.idea/